html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f3f5f9;
}
// h1,
// h2 {
//     font-family: "Comfortaa", sans-serif;
//     font-weight: 100;
// }

// h1 {
//     font-size: 2.5rem;
// }

// .container {
//     // Default style for windowWidth <= 1024
//     flex-direction: column;

//     // Style for windowWidth > 1024
//     @media (min-width: 1025px) {
//         flex-direction: row;
//     }
// }
